﻿@model ExampleEndpoint.Models.ExampleSettings
@{
    ViewData["Title"] = "Home Page";
    if (Model != null)
    {
        ViewBag.HideCopyright = Model.HideCopyright;
    }
}

<div class="jumbotron">
    <div class="lead">@(Model?.Title ?? "Example Endpoint")</div>
    <div>
        @(Model?.WelcomeMessage ?? "Welcome to the example endpoint website, which can be configured to display a different title, welcome message and additional content")
    </div>
</div>

@if (Model?.AdditionalContent != null)
{
    @Html.Raw(Model.AdditionalContent)
}